openapi: 3.1.0
info:
  title: Wordsus API
  description: REST API for cross-device synchronization of user data (reading progress, favorites, recent books, preferences).
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Wordsus
    url: https://wordsus.com

servers:
  - url: https://api.wordsus.com/v1
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Health
    description: Health check endpoint (unauthenticated)
  - name: Reading
    description: Reading progress per book
  - name: Favorites
    description: User's favorite books
  - name: Recent
    description: Recently read books (ordered history)
  - name: Preferences
    description: User preferences (key-value)
  - name: Sync
    description: Batch synchronization (pull/push)

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      security: []
      operationId: getHealth
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                required:
                  - status
                  - timestamp
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /reading:
    get:
      tags: [Reading]
      summary: List all reading progress entries
      operationId: listReadingProgress
      responses:
        "200":
          description: List of reading progress entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ReadingProgress"
                required:
                  - data
        "401":
          $ref: "#/components/responses/Unauthorized"

  /reading/{locale}/{bookSlug}:
    put:
      tags: [Reading]
      summary: Upsert reading progress for a book
      operationId: upsertReadingProgress
      parameters:
        - $ref: "#/components/parameters/LocalePath"
        - $ref: "#/components/parameters/BookSlugPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReadingProgressInput"
      responses:
        "200":
          description: Reading progress upserted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadingProgress"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      tags: [Reading]
      summary: Soft-delete reading progress for a book
      operationId: deleteReadingProgress
      parameters:
        - $ref: "#/components/parameters/LocalePath"
        - $ref: "#/components/parameters/BookSlugPath"
      responses:
        "204":
          description: Reading progress deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /favorites:
    get:
      tags: [Favorites]
      summary: List all favorites
      operationId: listFavorites
      responses:
        "200":
          description: List of favorite books
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Favorite"
                required:
                  - data
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Favorites]
      summary: Add a favorite
      operationId: createFavorite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FavoriteInput"
      responses:
        "201":
          description: Favorite created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Favorite"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /favorites/{locale}/{bookSlug}:
    delete:
      tags: [Favorites]
      summary: Soft-delete a favorite
      operationId: deleteFavorite
      parameters:
        - $ref: "#/components/parameters/LocalePath"
        - $ref: "#/components/parameters/BookSlugPath"
      responses:
        "204":
          description: Favorite deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /recent:
    get:
      tags: [Recent]
      summary: List recent books (ordered)
      operationId: listRecentBooks
      responses:
        "200":
          description: List of recent books ordered by recency
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RecentBook"
                required:
                  - data
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [Recent]
      summary: Batch upsert recent books list
      operationId: upsertRecentBooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: "#/components/schemas/RecentBookInput"
              required:
                - data
      responses:
        "200":
          description: Recent books list updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RecentBook"
                required:
                  - data
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /recent/{locale}/{bookSlug}:
    delete:
      tags: [Recent]
      summary: Soft-delete a recent book entry
      operationId: deleteRecentBook
      parameters:
        - $ref: "#/components/parameters/LocalePath"
        - $ref: "#/components/parameters/BookSlugPath"
      responses:
        "204":
          description: Recent book entry deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /preferences:
    get:
      tags: [Preferences]
      summary: Get all user preferences
      operationId: getPreferences
      responses:
        "200":
          description: User preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Preference"
                required:
                  - data
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [Preferences]
      summary: Batch upsert preferences
      operationId: upsertPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: "#/components/schemas/PreferenceInput"
              required:
                - data
      responses:
        "200":
          description: Preferences updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Preference"
                required:
                  - data
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /sync:
    get:
      tags: [Sync]
      summary: Pull changes since a timestamp
      operationId: syncPull
      parameters:
        - name: since
          in: query
          required: true
          description: ISO 8601 timestamp; returns all records modified after this time
          schema:
            type: string
            format: date-time
            example: "2025-01-01T00:00:00Z"
      responses:
        "200":
          description: All changes since the given timestamp
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncPullResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Sync]
      summary: Push batch of local changes
      operationId: syncPush
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncPushRequest"
      responses:
        "200":
          description: Push result with applied count and any conflicts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncPushResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase JWT access token

  parameters:
    LocalePath:
      name: locale
      in: path
      required: true
      schema:
        type: string
        enum: [en, es]
      description: Content locale
    BookSlugPath:
      name: bookSlug
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-z0-9-]+$"
      description: Book slug identifier

  responses:
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: validationFailed
        message:
          type: string
          description: Human-readable error message
          example: "Field 'bookSlug' is required"
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              issue:
                type: string
            required:
              - field
              - issue
      required:
        - error
        - message

    ReadingProgress:
      type: object
      properties:
        id:
          type: string
          format: uuid
        locale:
          type: string
          enum: [en, es]
        bookSlug:
          type: string
        chapterSlug:
          type: string
        scrollContent:
          type: number
          description: Window scrollY position
        scrollLeftSidebar:
          type: number
          description: Left sidebar scrollTop
        scrollRightSidebar:
          type: number
          description: Right sidebar scrollTop
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deletedAt:
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - locale
        - bookSlug
        - chapterSlug
        - scrollContent
        - scrollLeftSidebar
        - scrollRightSidebar
        - createdAt
        - updatedAt

    ReadingProgressInput:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Client-generated UUID
        chapterSlug:
          type: string
        scrollContent:
          type: number
        scrollLeftSidebar:
          type: number
        scrollRightSidebar:
          type: number
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - chapterSlug
        - scrollContent
        - scrollLeftSidebar
        - scrollRightSidebar
        - updatedAt

    Favorite:
      type: object
      properties:
        id:
          type: string
          format: uuid
        locale:
          type: string
          enum: [en, es]
        bookSlug:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deletedAt:
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - locale
        - bookSlug
        - createdAt
        - updatedAt

    FavoriteInput:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Client-generated UUID
        locale:
          type: string
          enum: [en, es]
        bookSlug:
          type: string
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - locale
        - bookSlug
        - updatedAt

    RecentBook:
      type: object
      properties:
        id:
          type: string
          format: uuid
        locale:
          type: string
          enum: [en, es]
        bookSlug:
          type: string
        order:
          type: integer
          description: "Sort position (0 = most recent)"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deletedAt:
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - locale
        - bookSlug
        - order
        - createdAt
        - updatedAt

    RecentBookInput:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Client-generated UUID
        locale:
          type: string
          enum: [en, es]
        bookSlug:
          type: string
        order:
          type: integer
          description: "Sort position (0 = most recent)"
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - locale
        - bookSlug
        - order
        - updatedAt

    Preference:
      type: object
      properties:
        key:
          type: string
          description: "Preference key (e.g. theme, fontSize)"
          example: theme
        value:
          type: string
          description: "Preference value as string"
          example: dark
        updatedAt:
          type: string
          format: date-time
      required:
        - key
        - value
        - updatedAt

    PreferenceInput:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
        updatedAt:
          type: string
          format: date-time
      required:
        - key
        - value
        - updatedAt

    SyncPullResponse:
      type: object
      properties:
        readingProgress:
          type: array
          items:
            $ref: "#/components/schemas/ReadingProgress"
        favorites:
          type: array
          items:
            $ref: "#/components/schemas/Favorite"
        recentBooks:
          type: array
          items:
            $ref: "#/components/schemas/RecentBook"
        preferences:
          type: array
          items:
            $ref: "#/components/schemas/Preference"
        serverTime:
          type: string
          format: date-time
          description: Server timestamp to use as `since` in next pull
      required:
        - readingProgress
        - favorites
        - recentBooks
        - preferences
        - serverTime

    SyncPushRequest:
      type: object
      properties:
        readingProgress:
          type: array
          items:
            $ref: "#/components/schemas/ReadingProgressInput"
        favorites:
          type: array
          items:
            $ref: "#/components/schemas/FavoriteInput"
        recentBooks:
          type: array
          items:
            $ref: "#/components/schemas/RecentBookInput"
        preferences:
          type: array
          items:
            $ref: "#/components/schemas/PreferenceInput"

    SyncPushResponse:
      type: object
      properties:
        applied:
          type: integer
          description: Number of records successfully applied
        conflicts:
          type: array
          items:
            $ref: "#/components/schemas/SyncConflict"
        serverTime:
          type: string
          format: date-time
          description: Server timestamp after applying changes
      required:
        - applied
        - conflicts
        - serverTime

    SyncConflict:
      type: object
      properties:
        type:
          type: string
          enum: [readingProgress, favorites, recentBooks, preferences]
          description: Resource type that conflicted
        id:
          type: string
          description: ID of the conflicting record
        serverVersion:
          type: object
          description: The current server-side version of the record
      required:
        - type
        - id
        - serverVersion
